<configuration>
  <sitecore>
    <dataProviders>
      <youtubedp type="Sitecore.Data.YouTube.YouTubeDataProvider, YouTubeDataProvider">
        <param desc="rootTemplateID">{8E2C4B59-ACE4-499B-9BB2-5B230F23B84E}</param>
        <param desc="resourceTemplateID">{D6FB2550-F894-433E-BA9E-ED51C389DCD7}</param>
        <param desc="videoOwnerFieldName">video owner</param>
        <param desc="contentDatabase">master</param>
      </youtubedp>
    </dataProviders>
    <databases>
      <database id="master" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/youtubedp">
            <disableGroup>delete</disableGroup>
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
    <settings>
      <!-- YouTube developer key
      -->
      <setting name="YouTube.DeveloperKey" value="AI39si6v6tZgVyRZhZTrRBg1g7xm3dV0H72nmz6vgQI9t5BQTUhUwgXiFrl7uhyLu7nmjqgAQFUBie9czikO4UUiZ2PPMW_Cag" />
      <!-- YouTube ClietID
      -->
      <setting name="YouTube.ClientID" value="ytapi-Sitecore-SitecoreYouTubei-mhgalgip-0" />
    </settings>
  </sitecore>
</configuration>
